.dropList {
    width: 100%;
    height: 30px;
    cursor: pointer;
    position: relative;
    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353535;
}

.dropList-input {
    position: absolute;
    width: 100%;
    height: inherit;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.dropList-menu--show {
    display: block;
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    list-style-type: none;
    padding-left: 12px;
    margin-top: 25px;
}

.dropList-item:hover {
    background: #E9E9E9;
}

.dropList-menu--hide {
    display:none;
}