.ratioButton {
    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353535;
    margin-bottom: 12px;
}

.ratioButton:last-child {
    margin-bottom: 0;
}

.ratioButton-input {
    display:none;
}

.ratioButton-text {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ratioButton-text::before {
    content: "";
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 12px;
    background: #FFFFFF;
    border: 2px solid #C1C1C1;
}

.ratioButton-input:checked + .ratioButton-text::before {
    background:url(../../img/radio-circle.svg) no-repeat center;
}