.calibrationReport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    border: 1px dashed #939DA6;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 40px 40px 60px 40px;
    font-family: TT Norms;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    color: #353535;
}

.calibrationReport-tableName {
    margin-bottom: 27px;
    margin-top: 0;
}

.calibrationReport-headers {
    display:flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.calibrationReport-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 20px;
}

.calibrationReport-row:last-child {
    border-bottom: none;
}

.calibrationReport-row:last-child {
    margin-bottom: 0;
}

.calibrationReport-solution {
    /* text-align: left; */
    /* flex-basis: 200px; */
}

.calibrationReport-data {
    font-size: 16px;
    line-height: 19px;
}

.calibrationReport-user {
    font-size: 12px;
    line-height: 14px;
}


.calibrationReport-offset,.calibrationReport-slope {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.calibrationReport-icon {
    margin-left: 24px;
}

.column-width-l  {
    width: 24%;
}

.column-width-s {
    width: 11%;
}
.column-width-m  {
    width: 30%
}