@import './fonts/TTNorms/stylesheet.css';

.app {
    padding: 30px 50px;
}

.app-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 900px;
    margin: auto;
}

.app-bottom {
    margin: 46px auto 0;
    display: flex;
    width: 900px;
    justify-content: center;
}

.app-filterDevices {
    width: 320px;
}

.app-unitName {
    margin: 30px 0;
}
